@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import './globals.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

:root {
    background-color: $primary-color;
    font-size: 62.5%;
    // font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}