// color palette
$primary-color: #181818;
$secondary-color: rgba(47, 47, 47, 0.70);
$accent-color: rgba(255, 204, 0, 1);
$tertiary-color: #F80;
$green-color: #00b673;

$text-color-light: #FFF;
$text-color-dark: #000;
// sizing
$base-font-size: 16px;
$base-line-height: 1.5;
$global-padding: 18.75rem;
$section-padding: 3.75rem;
$mobile-padding: 0.75rem;
// navbar
$navbar-height: 5.5rem;

// testing border
$global-border: 1px solid green;
$global-border: none;
// text
$font-family: 'Plus Jakarta Sans', sans-serif;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  accentColor: $accent-color;
  tertiaryColor: $tertiary-color;
  greenColor: $green-color;


  baseFontSize: $base-font-size;
  baseLineHeight: $base-line-height;
  navbarHeight: $navbar-height;

  globalPadding: $global-padding;
  // text
  fontFamily: $font-family;
}