@import '../../styles/globals.module.scss';

.heroSectionContainer {
    isolation: isolate;
    width: 100%;
    display: flex;

    @media screen and (max-width: 768px) {
        width: 150%;
    }


    .heroSectionLeft {
        // position: relative;
        width: 50%;
        border: $global-border; // for testing purpose
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;

        .textSection {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            border: $global-border; // for testing purpose

            .text {
                border: $global-border; // for testing purpose
                color: #C1C1C1;
                font-family: Plus Jakarta Sans;
                font-size: 2rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .ctaSection {
            border: $global-border; // for testing purpose  
            height: fit-content;
        }
    }

    .BG {
        position: absolute;
        top: 0;
        left: 0px;
        margin: auto;
        width: 100vw;
        height: 100vh;
        isolation: isolate;
        z-index: -4;
        scale: 2;
    }

    .Ambient {
        position: absolute;
        top: -3rem;
        z-index: -3;
        isolation: isolate;
        scale: 1.5;
        opacity: 0.5;
    }
}


.heroSectionRight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    gap: 1rem;
    align-items: center;
    padding-block: 2rem;
    padding-left: 2rem;

    .sectionRightColumn {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        justify-content: center;
        align-items: center;
    }

    .svg {
        width: 5rem;

    }
}





.ornamentContainer {
    $global-border: $global-border;
    position: absolute;
    // isolation: isolate;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    .Ornament {
        border: $global-border; // for testing purpose      
        isolation: isolate;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        isolation: isolate;
        z-index: 1;
        transform-origin: left top;
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform: translate(5rem, 5rem) scale(1.5);
        -webkit-transform: translate(5rem, 5rem) scale(1.5);
        -ms-transform: translate(5rem, 5rem) scale(1.5);
        -moz-transform: translate(5rem, 5rem) scale(1.5);
        -o-transform: translate(5rem, 5rem) scale(1.5);
        overflow: hidden;


    }



    .Ambient {
        position: absolute;
        top: 0;
        transform: translate(0, -7rem);
        -webkit-transform: translate(0, -7rem);
        -ms-transform: translate(0, -7rem);
        -moz-transform: translate(0, -7rem);
        -o-transform: translate(0, -7rem);
        z-index: 2;
        isolation: isolate;
    }

}