@import '../../styles/globals.module.scss';


.socialMediaSectionContainer {
    border: $global-border; // for testing purpose
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .Header {
        border: $global-border; // for testing purpose
        width: 100%;
        display: flex;
        justify-content: space-between;

        .HeaderTitle {
            color: #FFF;
            font-family: Plus Jakarta Sans;

            .HeaderTitleTop {
                font-size: clamp(1rem, 2.5vw, 2rem);
                font-weight: 500;
            }

            .HeaderTitleBottom {
                font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                font-weight: 700;
            }
        }

        .HeaderCTA {
            color: #B7B7B7;
            text-align: center;
            font-family: Plus Jakarta Sans;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 1.25rem;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .socialCardList {
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}