@import './../globals.module.scss';

.productCard {
    $border-radius: 0.875rem;
    display: flex;
    padding: 0.25rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: $border-radius;
    // background: linear-gradient(135deg, #FFDE3F 0%, #FFB548 100%);
    border-radius: 0.875rem;
    background: var(--button-white-outer, rgba(255, 255, 255, 0.40));
    display: flex;
    justify-content: center;
    align-items: center;

    .productImage {
        width: 100%;
        aspect-ratio: 1/1 !important;
        border-radius: $border-radius;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    }
}